.link-types-title,
#link-types-form {
  position: absolute;
  left: -9999px;
}

#menu-container {
  --background-gray: #2B005E
}

#menu-container .title {
  color: #E0E1DD
}

#menu-container .description {
  color: #E0E1DD
}

#menu-container a {
  color: #E0E1DD
}
