.link-types-title,
#link-types-form {
  position: absolute;
  left: -9999px;
}

#menu-container {
  --background-gray: #2B005E !important;
}

#menu-container .title {
  color: #E0E1DD
}

#menu-container .description {
  color: #E0E1DD
}

#menu-container a {
  color: #E0E1DD
}

.menu-types .menu-title {
  color: #E0E1DD;
}

.menu-types .node-types-title {
  color: #E0E1DD;
}

details.menu-tags .menu-title {
  color: #E0E1DD;
}

details.menu-index .menu-title {
  color: #E0E1DD;
}

details.menu-controls .menu-title {
  color: #E0E1DD;
}

details.menu-view .menu-title {
  color: #E0E1DD
}


